* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.my-note {
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

article {
    flex: 0 0 320px;
}

p.notes-info {
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

