.column-3 {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.row-3 {
    float: left;
    width: 33.333%;
    margin-left: auto;
    margin-right: auto;
}
  
/* Clear floats after the columns */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

h2.text-heading {
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;  
    font-size: 50px;  
}

.column-3 img {
    border-radius: 100%;
    margin-bottom: 30px;
    border-style: dashed;
    border-color: var(--light-blue);
}

@media only screen and (max-width: 1200px) {
    .row-3 {
        width: 100%;
        margin: 6px 0;
    }
}
    
    @media only screen and (max-width: 800px) {
    .row-3 {
        width: 100%;
    }
}