:root {
    --white: #ffffff;
    --mainblue: #034ea2;
    --darkblue: #08315e;
    --lightblue: #00b9f2;
    --darkgray: #1b1b1b;
    --red: #d50c3a;
    --lightred: #fd2255;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    background-image: url('images/login-bg-image.png');
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

* {
    box-sizing: border-box;
}

/* NAVBAR */

a {
    text-decoration: none;
    color: var(--darkgray);
}

.nav ul {
    list-style: none;
    margin: 0;
}

#header {
    background-color: rgb(249, 249, 249);
    background-size: cover;
    padding-left: 150px;
    padding-right: 150px;
    position: relative;
    height: 130px;
}                     

.logo {
    margin-left: 40px;
    padding: 20px;
    display: inline-block;
    position: absolute;
}

.logo:hover {
    transform: scale(1.1);
    transition: all ease 500ms;
}

.nav {
    text-align:center;
}

.nav ul.menu {
    display:inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.menu li {
    display: inline-block;
    
}

.menu li a {
    color: var(--darkgray);
    display: block;
    padding: 15px 15px;
    margin-right: 20px;
    margin-top: 45px;
    font-weight: bold;
    text-align:center;
}

.menu a:hover {
    background-color: transparent;
    color: var(--lightred);
    transform: scale(1.1);
    transition: all ease 500ms;
}

.nav ul.menu-right{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-right li {
    display: inline-block;
}

.menu-right li a {
    color: var(--darkgray);
    display: block;
    padding: 15px 15px;
    margin-right: 20px;
    margin-top: 45px;
    font-weight: bold;
}

.nav ul.menu-right:after {
    clear: both;
    content: "";
    display: block;
}

.menu-right .btn-join {
	background-color:var(--red);
	border-radius:10px;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
    padding: 15px 15px;
    font-weight: bold;
    letter-spacing: 1px;
	text-shadow:0px 1px 0px var(--darkgray);
}

.btn-join:hover {
	background-color:#e11f4c;
    transform: scale(1.1);
    transition: all ease 500ms;
}

.btn-join:active {
	position:relative;
	top:1px;
}

.login {
    font-weight: lighter;
}

.login:hover {
    background-color: transparent;
    color: var(--lightred);
    transform: scale(1.1);
    transition: all ease 500ms;
}

/* LOGIN FORM */

.container {
    width: 600px;
    /* height: 500px; */
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    text-align: center;
    border-radius: 3px;
    box-shadow: 2px 1px 14px 3px rgba(0,0,0,0.22);
    -webkit-box-shadow: 2px 1px 14px 3px rgba(0,0,0,0.22);
    -moz-box-shadow: 2px 1px 14px 3px rgba(0,0,0,0.22);
}

.container input[type="text"], .container input[type="password"] {
    background: none;
    display: block;
    margin: 20px auto;
    border: 1px solid rgb(184, 184, 184);
    padding: 8px 10px;
    width: 300px;
    outline: none;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 15px;
}

.container input[type="text"]:focus, .container input[type="password"]:focus {
    border-color: var(--darkblue);
    transition: ease 500ms;
}

.container h2 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 5px;
}

.label {
    width: 300px;
    margin: 0 auto;
    display: block;
    text-align: left;
}

.inputs {
    margin-top: 40px;
}

#submit {
    background-color:var(--mainblue);
	border-radius:10px;
    border: none;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
    padding: 15px 25px;
    font-weight: bold;
    text-transform: capitalize;    
    display: block;
    margin: 20px auto;
    margin-top: 35px;
    font-weight: 500;
    font-size: 16px;
}

#submit:hover {
    background-color: var(--lightblue);
    transform: scale(1.1);
    transition: all ease 500ms;
}

#submit:active {
    background-color: var(--mainblue);
}

.register {
    font-size: 15px;
}

strong:hover {
    color: #00b9f2;
    transition: all ease 300ms;
}

/* FOOTER */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px;
    margin-top: 50px;
    background-color: var(--darkgray);
    color: white;
    margin-top: 850px;
}

footer p{
    padding-left: 450px;
    padding-right: 450px;
    font-size: medium;
}

@media screen and (max-width: 1700px) {
    footer p {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 800px) {
    footer p {
        padding-left: 20px;
        padding-right: 20px;
    }
}

footer img{
    margin-right: 15px;
}

footer img:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}

.fa {
    padding: 5px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram, .fa-envelope {
    color: var(--white);
}

.fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-instagram:hover, .fa-envelope:hover {
    color: var(--lightblue);
    transform: scale(1.1);
    transition: all ease 500ms;
}
